<div class="new-question-area">
  <div class="question-title-area">
    <strong>【アンケートタイトル】</strong>
    <div><%= @enquete.title %></div>
  </div>

  <% if @question.errors.present? %>
    <% @question.errors.full_messages.each do |err| %>
      <div class="alert alert-danger"><%= err %></div>
    <% end %>
  <% end %>

  <div class="new-question-area">
    <%= form_with model: @question, local: true do |f| %>

        <div class="form-parts">
          <label>質問内容</label>
          <%= f.text_area :content, rows:5, placeholder: "質問を入力ください。" %>
        </div>
        <%= f.hidden_field :id, value: @enquete.id %>

        <div>
          <%= f.submit "追加" %>
        </div>
    <% end %>
  </div>
</div>

<% if @enquete.question_count? %>
 <div class="ml-2">
 <%= link_to '質問追加終了する', enquetes_path, class:"btn btn-primary text-white" %>
 </div>
<% end %>