<div class="login_title">
  <h2>新規メンバー登録</h2>
</div>


<div class="login_main">
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>

     <div class="field">
      <%= f.label "名前" %><span>(必須です。)</span><br />
      <%= f.text_field :name, autocomplete: "name", placeholder:"(例)山田　太郎" %>
    </div>

    <div class="field">
      <%= f.label :email %><span>(必須です。)</span><br />
      <%= f.email_field :email, autocomplete: "email", placeholder:"(例)sample@example.com" %>
    </div>

    <div class="field">
      <%= f.label :password %>
      <% if @minimum_password_length %>
      <em>(<%= @minimum_password_length %> 文字以上で入力ください。)</em><br>
      <span>(必須です。)</span>
      <% end %><br />
      <%= f.password_field :password, autocomplete: "new-password", placeholder:"必須です。" %>
    </div>

    <div class="field">
      <%= f.label :password_confirmation %><span>(必須です。)</span><br />
      <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder:"必須です。" %>
    </div>

    <div class="actions">
      <%= f.submit "登録" %>
    </div>
  <% end %>

  <%= render "devise/shared/links" %>
</div>

