<% if  enquetes.length >0 %>
  <table class="admin-list-table">
  <thead>
    <tr>
      <th colspan="3">リスト</th>
      <th rowspan="2">集計</th>
    </tr>

    <tr>
      <th class="th">タイトル</th>
      <th class="th">編集</th>
      <th class="th">削除</th>
    </tr>
  </thead>
  <tbody>
    <%  enquetes.each do |enquete| %>
      <tr id="enquete-tr-<%= enquete.id %>">
        
       <td class="align-middle"><%= link_to enquete.title, enquete_results_path(enquete) %></td>

        <td>
          <button class="question-edit-btn" id="edit-btn-<%= enquete.id %>">
            <%= icon("fas", "pen") %>
            内容編集
          </button>
        </td>
           
        <td>
           <%= link_to enquete_path(enquete.id),
               data:{confirm: "削除しますか？"},
                method: :delete, 
                remote: true,
                class:"enquete-lists a",
                id: "enquete-list-#{enquete.id}" do %>
             <%= icon("fas", "trash-alt") %>削除
           <% end %>
        </td>

        <td>
          <%= link_to result_path(enquete.id),
              class:"enquete-result" do %>
           <%= icon("fas", "file") %>結果
          <% end %>
        </td>

      </tr>
      <tr id="enquete-question-<%= enquete.id %>" class="tr-questions">
        <td colspan="4" class="hidden-td">
          <%= link_to question_path(enquete), class:"add-question" do %>
             <%= icon("fas", "plus") %>新規追加
          <% end %>
          <ul>
            <% enquete.questions.each do |question| %>
             <li id="enquete-question-li-<%= question.id %>">Q.<%= question.content %></li>
             <div class="hidden-buttons">
               <%= link_to show_modal_question_path(question),
                  remote:true, 
                  id: "question-modal-confirm-#{question.id}" do
               %>
                 <%= icon("fas", "search") %>内容確認
               <% end %>
              <%= link_to delete_question_path(question),
                  data:{ confirm: "削除しますか？"},
                  method: :delete,
                  remote: true,
                  class:"questin-delete",
                  id: "question-delete-#{question.id}" do
              %>
                 <%= icon("fas", "trash-alt") %>削除
              <% end %>
             </div>
              
            <% end %>
          </ul>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<% else %> 
  <div class="p-5 bg-light border text-center">
    まだデータがありません。
  </div>
<% end %>