<%= form_with url:results_path, local: true do |f| %>
  <%= f.hidden_field :enquete_id, value: @enquete.id %>
  <h3>【<%= @enquete.title %>】</h3>
  <p class="text-center"><%= @enquete.content %></p>

  <div class="group">
    <label>投稿者名<span class="text-danger">(*任意です)</span></label>
    <%= f.text_field :user_name  %>
  </div>

  <% @questions.each do |q| %>
      <h5><%= q.content %></h5>
      <% q.forms.all.each do |f| %>
        <%= f.html.html_safe %>
      <% end %>
  <% end %>
  <br>
  <%= f.submit "送信" %>
<% end %>