<div class="result-main">
   <!-- パンくずリスト -->
  <div class="agregate-bread">
    <div class="breadcrumbs-results">
    <%= results_aggregate_bread %>
  </div>
  </div> 
  

  <h3>アンケート集計</h3>
  <div class="result-info">
    <p>アンケート名</p>
    <p>【<%= @enquete.title %>】</p>
  </div>
  <%= link_to "⬅︎戻る", pages_index_path, class:"result_back"  %>
  <article>
   <section>
     <%= render'select', {titles: @select_titles, totals: @totals} %>
   </section><br>

   <section>
      <%= render 'text', {titles: @text_titles} %>
   </section>
  </article>

</div>
