
<%= provide(:bread, qnquete_index_bread) %>

<section>
  <h3 class="site-info">アンケート一覧</h3>
  <% if @enquetes.count > 0 %>
    <p class="aggregate_info">アンケートの集計をご覧になりたい場合はアンケートのタイトルからアクセスしてください。</p>

    <!-- パソコン版のテーブル -->
    <div class="index-page-pc">
       <%= render '/pages/PC/index', {enquetes: @enquetes} %>
    </div>

    <!-- スマホ版のテーブル -->
    <div class="index-page-phone">
       <%= render '/pages/Phone/index', {enquetes: @enquetes} %>
    </div>
   

  <% else %>
    <div class="index-no-enquete">アンケートがありません。</div>
  <% end %>
</section>
<div class="enquete-select-area">
  <div class= "new-enquete">
    <%= link_to recently_pages_path do %>
      <%= image_tag('/svg/new.svg', size: '50x50') %> 新着アンケートへ
    <% end %>
  </div>

   <div class= "area-enquete">
    <%= link_to area_pages_path do %>
      <%= image_tag('/svg/area.svg', size: '50x50') %> 地域別アンケートへ
    <% end %>
  </div>
</div>