<section>
  <h3 class="site-info">アンケート一覧</h3>
  <% if @enquetes.count > 0 %>
    <p class="aggregate_info">アンケートの集計をご覧になりたい場合はアンケートのタイトルからアクセスしてください。</p>
    <table class="page-list-table">
    <thead>
      <tr>
        <th>アンケートタイトル</th>
        <th>投稿日</th>
        <th>期限</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @enquetes.each do |enquete| %>
       <tr>
        <td>
           <%= link_to  result_path(enquete.id) do %>
             <%= image_tag("/svg/enquete.svg",size:"25x25",style:"color:white")%><%= enquete.title %>
           <% end %>
        </td>
        <td><%= l enquete.created_at, format: :day %></td>
        <td></td>
        <td>
          <%= link_to  enquete_results_path(enquete), class: "enquete-answer-button" do %>
           <%= image_tag("/svg/write_white.svg",size:"20x20",style:"color:white")%>アンケートに答える
          <% end %>
        </td>
       </tr>
      <% end %>
    </tbody>
  </table>
  <% else %>
    <div>まだアンケートがありません。</div>
  <% end %>
  
</section>