<section>
  <h3 class="site-info">山梨県の様々な出来事のアンケート掲示板</h3>
  <div class="site_guidance-area">
    <div class="site-gide-img">
     <%= image_tag("/maskat.jpeg") %>
    </div>

    <div class="site-gide-text">
      このサイトは、山梨県の仕事やイベント、観光地や明産物、その他日々の出来事など<br class="¥n">
      山梨県の様々な些細な出来事を同じ県民の方々とアンケート形式で投稿していただき、<br class="¥n">
      少しでも問題を解決、共有するツールとしてご利用いただけたらと思います。<br class="¥n">
      <div class="site-enquete-button-div">
      　<%= link_to pages_path, class:"a" do %>
  　　　　 <div><%= image_tag('/enquete.svg') %>アンケートに参加する</div>
        <% end %>
      </div>
    </div>
  </div>
</section>
<section>
  <h3 class="site-info">サイトの使い方</h3>
  <div class="site_how_to_use">
    <section>
      <h4>アンケート回答方法</h4>
      <%= image_tag('/nologin.svg',size: "200x200") %>
      <p>
      　　投稿されたアンケートの回答についてはログイン不要でどなたでも参加できます。<br>
         <%= link_to "こちらに移動して", pages_path %>
         アンケート一覧から参加したいアンケートを選択しご参加ください。
      </p>
    </section>
    <section>
       <h4>アンケートの登録</h4>
      <div class="enquete_description_sub_title">アンケート登録手順</div>
       <div class="site_enquete_description">
          <!-- STEP1 -->
          <ul>
            <li>
              <%= image_tag("/key.svg") %>
            </li>
            <li class="step-list">STEP1</li>
            <li>ログインまたはメンバー登録します。</li>
          </ul>
          <!-- STEP2 -->
          <ul>
            <li>
              <%= image_tag("/write.svg") %>
            </li>
            <li class="step-list">STEP2</li>
            <li>アンケートに回答してもらいます。</li>
          </ul>
          <!-- STEP3 -->
          <ul>
            <li>
              <%= image_tag("/question.svg") %>
            </li>
            <li class="step-list">STEP3</li>
            <li>アンケートの集計ページで確認します。</li>
          </ul>
      </div>
    </section>
  </div>
</section>
<div class="login-new-info">
  <div class="div">アンケートの作成へ</div>
   <div class="img-div"><%= image_tag("/svg/under_allow.svg") %></div>
  <div>
    <% if user_signed_in? %>
      <%= link_to  new_enquete_path(params:{page: true, user_id: current_user.id}),class:"enquete-a" do %>
        <%= image_tag("/svg/question_white.svg",size:"20x30",style:"color:white") %>アンケート作成はこちら
      <% end %>
    <% else %>
      <p>まずはログインしてください。</p>
      <%= link_to  new_user_session_path, class:"login-a" do %>
        <%= image_tag("/svg/key.svg",size:"20x30") %>ログイン
      <% end %>
    <% end %>
  </div>
</div>