    <div class="new-form-select-area">
      <div><%= icon("fab", "tumblr") %>【アンケートタイトル】:<span><%= @question.enquete.title %></span></div>
      <div><%= icon("fas", "question-circle") %>【質問】:<span><%= @question.content %></span></div>
    </div>

      <div class="select-type-area">
        <%= form_with model: @form, local: true do |f| %>
         <p class="text-center">【アンケートのフォームのタイプを選択してください。】</p>
         <fieldset>
          <div><input type="radio" id="edit_type" name="type" value="1" checked><label for="edit_type">入力タイプ質問</label></div>
          <div><input type="radio" id="select_type" name="type" value="2"><label for="select_type">選択式タイプ質問</label></div>
         </fieldset>
        <% end %>
      </div>
    </div>

  <!-- 内容 -->
<div class="form-select-area">
  <div id="edit-question-area">
    <%= render "text_question"%>
  </div>

  <div id="select-question-area">
    <%= render "select_question" %>
  </div>
</div>