 <%= form_with model: @form, local: true do |f| %>
  <%= f.hidden_field :id, value: @question.id %>
  <p>補足説明を入力してください。</p>
  <div>
    <%= f.text_field :content,placeholder:"(*任意です。)" %>
  </div>
  <%= f.submit "登録" %>
<% end %>
<button id="back-admin-list" onclick="backAdminLists(<%= current_user.id %>, <%= question.id %>)">戻る</button>
