<p id="notice"><%= notice %></p>

<p>
  <strong>Html:</strong>
  <%= @form.html %>
</p>

<p>
  <strong>Question:</strong>
  <%= @form.question %>
</p>

<%= link_to 'Edit', edit_form_path(@form) %> |
<%= link_to 'Back', forms_path %>
