<div class="manager_list_title">
  <h1>アンケート一覧</h1>
</div>

<div class="manager_buttons">
  <%= link_to root_path do %>
     <%= icon("fas", "home") %>HOMEへ
  <% end %>&nbsp;
  <%= link_to new_enquete_path(params:{user_id:current_user.id}) do %>
     <%= icon("fas", "plus") %>新規登録
  <% end %>
</div>


<div id="user-modal" class="modal" tabindex="-1" role="dialog"></div>

<div class="pc-list">
  <%= render '/enquetes/PC/index', {enquetes: @enquetes} %>
</div>

<div class="phone-list">
  <%= render '/enquetes/Phone/index', {enquetes: @enquetes} %>
</div>


