<table class="page-list-table">
    <thead>
      <tr>
        <th>
           <div>
              <%= image_tag("/svg/enquete.svg",size:"25x25",style:"color:white")%>
               アンケートタイトル
           </div>
        </th>
        <th>
           <div>
              <%= image_tag("/write.svg",size:"25x25",style:"color:white")%>
                投稿日
              </div>
        </th>
        <th>
           <div>
              <%= image_tag("/svg/cal.svg",size:"25x25",style:"color:white")%>
               期限
           </div>
        </th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% enquetes.each do |enquete| %>
       <tr>
        <td>
           <%= link_to enquete.title, result_path(enquete.id) %>
           <%= enquete.reception_status %>
        </td>
        <td><%= l enquete.created_at, format: :day %></td>
        <td><%= l enquete.limit, format: :default %></td>
        <td>
          <%= enquete.answer_button_existence %>
        </td>
       </tr>
      <% end %>
    </tbody>
  </table>