 <div class="hamburger-menu">
    <input type="checkbox" id="menu-btn-check">
    <label for="menu-btn-check" class="menu-btn"><span class="menu-span"></span></label>
    <div 
      style="color:white;font-size:14px;font-weight:bold;position:relative; left:33%;top:2px;"
    >
      <%= link_to root_path, style:"color:white;text-decoration:none;" do  %>
        <%= image_tag('/svg/home.svg', size:"25x25", style:"vertical-align:bottom;") %> HOME
      <% end%>
    </div>

    <!-- リスト -->
    <div class="menu-content">
        <ul>
          <% if user_signed_in? %>
            <li class="phone-user">
              <%= image_tag("/user.svg",style:"background:#fff") %><span><%= current_user.name %></span>
            </li>
          <% end %>
          

          <li class="li">
             <%= link_to pages_path do  %>
              <%= image_tag('/svg/question_header.svg', size:"25x25", style:"vertical-align:bottom;color:white") %> アンケート一覧
             <% end %>
          </li>
        
          <!-- ログイン専用 -->
          <% if user_signed_in? %>
            <li class="li">
               <%= link_to enquetes_user_index_path(current_user) do %>
                <%= icon("fas", "user-cog") %>アンケート管理
              <% end %>
            </li>
          <% end %>
        </ul>

        <ul class="header-right">
          <% if user_signed_in? %>
              <li class="session_button-out">
                <%= link_to destroy_user_session_path, method: :delete, style:"color:white;" do %>
                  <%= icon("fas", "sign-out-alt") %>ログアウト
                <% end %>
              </li>
          <% else %>
              <li class="session_button-in">
                 <%= link_to new_user_session_path, style:"color:blue;" do %>
                  <%= icon("fas", "sign-in-alt") %>ログイン
                 <% end %>
              </li>
          <% end %>
       </ul>
  
    </div>
</div>