<!DOCTYPE html>
<html>
  <head>
    <title>SampleApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <nav>
        <ul class="header-left">
          <li>HOME</li>
          <li>アンケート一覧</li>
          <li>新着アンケート</li>
        </ul>
        <ul class="header-right">
          <% if user_signed_in? %>
             <li>
               <span><%= image_tag("/user.svg",size:"15x15",style:"background:#fff") %><%= current_user.name %></span>&emsp;
               <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
            </li>
          <% else %>
             <li><%= link_to "ログイン", new_session_path(resource_name) %></li>
          <% end %>
        </ul>
        
      </nav>
      <img src="/custom.jpg" alt="header-img" class="header-img">
    </header>
    
    <main class="page-main">
       <article class="page-article">
          <%= yield %>
       </article>

       <aside class="page-aside">
          <%= render "/pages/side" %>
       </aside>
    </main>
  </body>
</html>
