<!DOCTYPE html>
<html>
  <head>
    <title>SampleApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width,initial-scale=1">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="pc_header">
    <!-- パソコンヘッダー -->
      <nav class="pc-nav">
        <%= render '/layouts/pc_header' %>
      </nav>
      <img src="/custom.jpg" alt="header-img" class="header-img">
    </header>

    <header class="phone_header">
    <!-- スマホヘッダー -->
        <%= render '/layouts/phone_header' %>
      <img src="/custom.jpg" alt="header-img" class="header-img">
    </header>


   <!-- パンくずリスト -->
   <div class="breadcrumbs">
     <%= yield(:bread) %>
   </div>

    <main class="page-main">
        
       </div>
       <article class="page-article">
          <%= yield %>
       </article>

       <aside class="page-aside">
          <%= render "/pages/side" %>
       </aside>
    </main>
  </body>
</html>
